# Base de données
DB_HOST=db
MYSQL_USER=user
MYSQL_PASSWORD=mot_de_passe
MYSQL_DATABASE=dechets_mont
MYSQL_ROOT_PASSWORD=mot_de_passe
# Backend
PORT=3000
NODE_ENV=production
JWT_SECRET=une_chaine_aleatoire_longue_et_secrete
BACK_URL=https://marcheramasse.fr
