@import "tailwindcss";
@plugin "daisyui";

.bg-customGreen {
  background-color: #dce7b9ff;
  color: #3f3e3eff;
}

.border-1-customGreen{
    border-bottom:2px solid;
    border-color:#B9CAAAAA;
}
.b-customGreen{
    border-color:#B9CAAA;
}
.b-2-customGreen{
  border-color: #9ac276ff;
}
.b-3-customGreen{
  border-color: #dcebceff;
}
.label-s {
  font-weight: 400 !important;  /* équivalent font-light */
  color: #131314ff;    /* équivalent Tailwind text-gray-600 */
}
